#home {
    display: flex;
    flex-direction: row;
}

#courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;

    /* 1/5 */
    width: 20%;
}

#transcripts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-items: start;

    /* 1/5 */
    width: 80%;
}
