#home {
    display: flex;
    flex-direction: row;
}

#courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 2px !important;

    /* 1/6 */
    width: 15%;
    height: 90vh;
}

#transcripts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-items: start;
    overflow-y: scroll;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    gap: 1rem;

    /* 3/6 */
    width: 45%;
    height: 85vh;
}

#transcripts::-webkit-scrollbar {
    width: 0;
}

#chatbot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-items: start;
    padding: 0 3rem;

    border: 1px solid #c2c2c2;
    border-radius: 5px;

    /* 2/6 */
    width: 30%;
    height: 85vh;
}
