body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  justify-content: center;
  text-align: center;
}

.App {
  text-align: center;

  h1 {
    padding: 0.5rem;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.homePage {
  display: flex;
  flex-direction: column;

  .courses-contents {
    display: flex;
    display: flex-row;

    .body {
      width: 30%;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.audio-component {
  width: 100%;
  input {
    display: none;
  }
}

/* chatbot integration */
.cs-message__html-content {
  text-align: left;
}
